*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navegador{
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: space-between;
    
}

h1{
    width: 100%;
    text-align: center;
}
ul{
    display: flex;

    justify-content: space-between;
    align-self:center;
    list-style: none;
}

li{
   transition: all 1s ease;
    margin: 0px 10px;
    background: gray;
    border-radius: 15px;
}
a{
    display: block;
    padding: 10px;

  
    color: aliceblue;
    text-decoration: none;
}

.contenedor{
    display: flex;
    width: 90%;
    height: 500px;
    justify-content: space-between;

    background: green;

}
.hijo{
    display: flex;
    justify-content: center;
    align-items: center;
    background: blanchedalmond;
    width: 100px;
    height: 100px;
   
}
.hijo:nth-child(2){
background: red;
align-self: center;
}
.hijo:nth-child(3){
    align-self: flex-end;
}


li:hover{
    background: white;

}
a:hover{
    color:black;
}